<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('layout/head'); -%>
</head>

<body>

    <%- include('layout/header'); -%>

    <h1><%= title %></h1>

    <h2><%= movie.name %></h2>
    <h3><%= movie.year %></h3>
    <h3>Categories: </h3>
    <ul>
        <% movie.categories.forEach(function(category){ %>
        <li><%= category %></li>
        <% }) %>
    </ul>
    <p><%= movie.storyline %></p>

    <%- include('layout/footer'); -%>


</body>

</html>